@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-silver: #353e4d;
}

html {
  visibility: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans', Arial, helvetica, sans-serif;
}

@media (max-width: 450px) {
  .xs-mobile-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.custom-shadow-small {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.125);
}
