@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-silver: #353e4d;
}

html {
  visibility: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans', Arial, helvetica, sans-serif;
}
